@font-face {
  font-family: "Aeonik Pro";
  src:
    url("/fonts/AeonikPro-Regular.woff2") format("woff2"),
    url("/fonts/AeonikPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src:
    url("/fonts/AeonikPro-RegularItalic.woff2") format("woff2"),
    url("/fonts/AeonikPro-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik Pro";
  src:
    url("/fonts/AeonikPro-RegularItalic.woff2") format("woff2"),
    url("/fonts/AeonikPro-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik Pro";
  src:
    url("/assets/fonts/AeonikPro-Bold.woff2") format("woff2"),
    url("/assets/fonts/AeonikPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src:
    url("/assets/fonts/AeonikPro-Medium.woff2") format("woff2"),
    url("/assets/fonts/AeonikPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro Medium Italic";
  src:
    url("/assets/fonts/AeonikPro-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/AeonikPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik Pro Regular";
  src:
    url("/assets/fonts/AeonikPro-Regular.woff2") format("woff2"),
    url("/assets/fonts/AeonikPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro Regular Italic";
  src:
    url("/assets/fonts/AeonikPro-RegularItalic.woff2") format("woff2"),
    url("/assets/fonts/AeonikPro-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply full-width style to Katakana text */
body {
  font-family: "Aeonik Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Aeonik Pro", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0px;
}

button {
  font-family: "Aeonik Pro", sans-serif;
}

.over {
  -webkit-transition: 200ms;
  transition: all ease-in 200ms;
}

.over:hover {
  -webkit-transform: translate(-15px, -15px);
  transform: translate(-15px, -15px);
  -webkit-transition: 200ms;
  transition: 200ms;
  box-shadow: 10px 10px 0px 0px #d80027;
  -webkit-box-shadow: 10px 10px 0px 0px #d80027;
  -moz-box-shadow: 10px 10px 0px 0px #d80027;
  border: 1px solid #f1f1f1 !important;
}

.boxover {
  width: 269.72px;
  -ms-flex-preferred-size: 366px;
  flex-basis: 366px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(20%, #f93),
    color-stop(80%, #ff7166)
  );
  background: linear-gradient(90deg, #f93 20%, #ff7166 80%);
  height: 323px;
}
